#content2 {
    color: black;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 1%;*/
    max-width: 80%;
    /*font-size: 100%;*/
    /*width: 100%;
    max-width: 80%;
    color: red;*/
}

.page-header {
    background-color: #777777;
}

h1 {
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.section-header {
    font-family: sans-serif;
    font-size: 140%;
    margin-left: 10%;
}

.new-post-form {
    font-size: 100%;
    margin-left: 10%;
}

.post-item {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-left: 10%;
    margin-bottom: 1%;
    max-width: 80%;
}

label {
    display: block;
    font-weight: bolder;
}

input {
    margin-bottom: 10px;
}

label,
input {
    font-size: 120%;
}

body {
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 1px;
}