#text-area-content {
    max-width: 80%;
    margin-bottom: 2%;
    height: 100px;
}

.page-header {
    background-color: #777777;
}

h1 {
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.section-header {
    font-family: sans-serif;
    font-size: 140%;
    margin-left: 10%;
}

.new-post-form {
    font-size: 100%;
    margin-left: 10%;
}

.post-item {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-left: 10%;
    margin-bottom: 1%;
    max-width: 80%;
}

.post-item h3 {
    margin-top: 0.5%;
    margin-bottom: 0%;
    padding-left: 0.5%;
}

.post-item p {
    margin-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
}

label {
    display: block;
    font-weight: bolder;
}

input {
    margin-bottom: 10px;
}

label,
input,
textarea,
.post-item {
    font-size: 120%;
}

body {
    border-style: solid;
    border-color: #b6b6b6;
    border-width: 1px;
    font-family: serif;
}